<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS30I0zg2XjaOr0n9UXZnUwQMFNd97MdY</string>
	<key>GCM_SENDER_ID</key>
	<string>810449092194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shota.MashimashiGuide</string>
	<key>PROJECT_ID</key>
	<string>mashimashiguide</string>
	<key>STORAGE_BUCKET</key>
	<string>mashimashiguide.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810449092194:ios:8479312551bd57dade5b3b</string>
</dict>
</plist>